<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/head :: head (Login)}"></div>
</head>
<body class="bg-slate-50 h-screen flex flex-col justify-center items-center">
<div
        class="p-3 border bg-white shadow-xl rounded-md w-80 flex flex-col items-center justify-center gap-y-10"
>
    <h1 class="text-6xl oswald text-gray-800 mt-5">LOGIN</h1>
    <a
            href="/oauth2/authorization/google"
            type="button"
            class="bg-white hover:bg-gray-100 text-gray-800 font-semibold border border-gray-400 rounded shadow text-sm px-5 py-2.5 text-center inline-flex items-center me-2 mb-2"
    >
        <svg
                class="w-4 h-4 me-2"
                fill="#000000"
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 210 210"
                xml:space="preserve"
        >
          <path
                  d="M0,105C0,47.103,47.103,0,105,0c23.383,0,45.515,7.523,64.004,21.756l-24.4,31.696C133.172,44.652,119.477,40,105,40
	c-35.841,0-65,29.159-65,65s29.159,65,65,65c28.867,0,53.398-18.913,61.852-45H105V85h105v20c0,57.897-47.103,105-105,105
	S0,162.897,0,105z"
          />
        </svg>
        구글로 계속하기
    </a>
</div>
</body>
</html>